html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: transparent;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html, body {
	height: 100%;
}

body {
	min-width: 998px;
	font: 300 17px/25px 'Roboto';
	color: #222;
	}

a {
	color: #bf3f3f;
	-webkit-transition: all 0.2s linear 0s;
	   -moz-transition: all 0.2s linear 0s;
			transition: all 0.2s linear 0s;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

b, strong {
	font-weight: bold;
}

i, em {
	font-style: italic;
}

li {
	position: relative;
	list-style: none;
}

p,
.content ul,
.content ol,
.content table {
	margin-bottom: 26px;
}

.content ul li {
	right: -30px;
	padding-right: 30px;
	list-style-image: url('images/bulit.png');
}

.content ol li {
	right: -30px;
	padding-right: 30px;
	list-style: outside decimal;
}

h1 {

}

h2 {

}

h3 {
	text-transform: uppercase;
}

div, section, nav {
	position: relative;
	}

input, textarea {
	outline: 0px none;
	}

table {
	width: 100%;
}

table,
table tr,
table td,
table th {
	border-collapse: collapse;
	vertical-align: top;
}

.container {
	width: 970px !important;
	margin: 0 auto;
}

.container:after {
	content: ".";
	clear: both;
	display: block;
	height: 0;
	font-size: 0;
	visibility: hidden;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/********** LP HEADER **********/

body.lp {
	background: url('images/bg.jpg') repeat top left;
}

#header {
	padding-bottom: 60px;
}

#header-top {
	height: 163px;
}

#logo,
#logo a {
	float: left;
	width: 335px;
	height: 52px;
}

#logo {
	margin-top: 60px;
}

#logo a {
	background: url('images/logo.png') no-repeat center;
}

#slogan {
	float: left;
	margin-left: 60px;
	width: 313px;
	min-height: 116px;
	margin-top: 20px;
	padding: 36px 0 0 20px;
	/*font: 300 italic 17px/22px 'Roboto';*/
	font-weight: bold;
	-webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   		text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	background: url('images/small-map.png') no-repeat left;
}

#slogan sup {
	font-size: 60%;
	vertical-align: super;
	line-height: 0;
	text-decoration: underline;
}

#top-phones {
	float: right;
	width: 220px;
	margin-top: 37px;
}

#top-phones span {
	display: block;
	margin-bottom: 14px;
	font: 600 25px/25px 'Roboto';
	-webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   		text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.button {
	display: block;
	width: 220px;
	height: 44px;
	font: 700 15px/45px 'Roboto Condensed';
	color: #7c4127;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	background: url('images/button.png') no-repeat center;
	-webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, .2);
	   -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, .2);
	   		box-shadow: 0 0 6px 0 rgba(0, 0, 0, .2);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	   		border-radius: 4px;
	-webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
	   -moz-text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
	   		text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
}

.button:hover {
	color: #bf3f3f;
}

#menu {
	height: 54px;
	background: url('images/menu.jpg') no-repeat center;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	   		border-radius: 6px;
}
.fixed{
	position: fixed;
    top: 0;
    
    z-index: 888;
}

#menu:after {
	content: '';
	position: absolute;
	top: 54px;
	left: 0;
	width: 940px;
	height: 72px;
	background: url('images/menu-shadow.png') no-repeat center;
}

#menu li {
	float: left;
	padding-right: 2px;
	background: url('images/divider.png') no-repeat right;
}

#menu li a {
	display: block;
	height: 54px;
	padding: 0 20px;
	font: 300 15px/54px 'Roboto';
	color: #fff;
	text-decoration: none;
	-webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   		text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

#menu li:first-child a {
	width: 59px;
	padding: 0;
	text-indent: -999px;
	-webkit-border-radius: 6px 0 0 6px;
	   -moz-border-radius: 6px 0 0 6px;
	   		border-radius: 6px 0 0 6px;

}

#menu li:first-child a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 59px;
	height: 54px;
	background: url('images/home.png') no-repeat center;
}

#menu li a:hover,
#menu li.current-menu-item a {
	background: rgba(0, 0, 0, .3);
}

#our-services {
	margin-top: 60px;
}

h2.small-title {
	font: bold 32px/22px 'Roboto Condensed';
	color: #7c4127;
	text-transform: uppercase;
	text-align: center;
	-webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   		text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

h2.small-title:before,
h2.small-title:after {
	content: '';
	position: absolute;
	top: 10px;
	width: 80px;
	height: 4px;
	background: url('images/brown-title-lines.png') no-repeat center;
}

h2.small-title:before {
	left: 271px;
}

h2.small-title:after {
	right: 271px;
}

#our-services {

}

#our-services-list {
	margin-top: 40px;
}

#our-services-list li {
	float: left;
	width: 172px;
	height: 195px;
	margin-right: 20px;
}

#our-services-list li:last-child {
	margin-right: 0;
}

#our-services-list li .front {
	width: 172px;
	height: 195px;
	font: 300 18px/24px 'Roboto Condensed';
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	-webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   		text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

#our-services-list li .back {
	width: 172px;
	height: 195px;
}

#our-services-list li .back a {
	display: block;
	width: 172px;
	height: 195px;
	padding-top: 75px;
	font: 300 18px/24px 'Roboto Condensed';
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	-webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   		text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

#our-services-list .service1 .front {
	padding-top: 65px;
	background: url('images/service1.png') no-repeat center;
}

#our-services-list .service1 .back {
	background: url('images/service1-back.png') no-repeat center;
}

#our-services-list .service2 .front {
	padding-top: 65px;
	background: url('images/service2.png') no-repeat center;
}

#our-services-list .service2 .back {
	background: url('images/service2-back.png') no-repeat center;
}

#our-services-list .service3 .front {
	padding-top: 55px;
	background: url('images/service3.png') no-repeat center;
}

#our-services-list .service3 .back {
	background: url('images/service3-back.png') no-repeat center;
}

#our-services-list .service4 .front {
	padding-top: 55px;
	background: url('images/service4.png') no-repeat center;
}

#our-services-list .service4 .back {
	background: url('images/service4-back.png') no-repeat center;
}

#our-services-list .service5 .front {
	padding-top: 65px;
	background: url('images/service5.png') no-repeat center;
}

#our-services-list .service5 .back {
	background: url('images/service5-back.png') no-repeat center;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 172px;
	height: 195px;
	cursor: default;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

/********** LP BODY ************/

.wave {
	background: url('images/bg2.jpg') repeat top left;
	z-index: 100;
}

.wave:before {
	content: '';
	position: absolute;
	top: -4px;
	left: 0;
	width: 100%;
	height: 4px;
	background: url('images/wave-top.png') repeat-x top center;
}

.wave:after {
	content: '';
	position: absolute;
	bottom: -4px;
	left: 0;
	width: 100%;
	height: 4px;
	background: url('images/wave-bottom.png') repeat-x top center;
}

#h1-wrap {
	padding: 50px 0 50px;
}

h1 {
	font: bold 44px/50px 'Roboto Condensed';
	text-align: center;
	text-transform: uppercase;
	-webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   		text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

#promo .container {
	padding: 70px 0;
}

#promo .left {
/*	background: url(/bitrix/templates/dveri_by_ko/images/bg3.jpg) repeat top left;
	position: fixed;
	left: -1px;
	top: 70px;
	z-index: 3000;
    border: 1px solid #fff;*/
	float: left;
	width: 300px;
}

#promo .overlay {
	background: rgba(34, 34, 34, .7);
}

#promo.slide2 {
	background: url('images/slide2.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}

#page-menu {
	font: 300 17px/18px 'Roboto';
	color: #fff;
	padding: 30px 30px 22px;
	border: 2px solid #fff;
	-webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   		text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	   		border-radius: 6px;
}

#page-menu .title {
	display: block;
	margin-bottom: 17px;
}

#page-menu a {
	color: #ffd156;
	text-decoration: none;
}

#page-menu a:hover {
	text-decoration: underline;
}

#page-menu ol li {
	right: -16px;
	padding: 0 16px 10px 0;
	list-style: outside decimal;
}

#promo .right {
	float: right;
	width: 620px;
	padding-left: 40px;
	color: #fff;
}

#promo .right h2 {
	margin-top: 28px;
	font: bold 44px/50px 'Roboto Condensed';
	text-transform: uppercase;
	-webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   		text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

#promo .right h3 {
	margin: 16px 0 30px;
	font: 400 32px/42px 'Roboto';
	-webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   		text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.section {
	
}

h2.brown {
	color: #7c4127;
}

h2.white {
	color: #fff;
}

h2.big-title {
	font: bold 44px/50px 'Roboto Condensed';
	text-transform: uppercase;
	text-align: center;
	-webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   		text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

h2.big-title:before,
h2.big-title:after {
	content: '';
	position: absolute;
	top: 25px;
	width: 80px;
	height: 4px;
}

h2.black.big-title:before,
h2.black.big-title:after {
	background: url('images/black-title-lines.png') no-repeat center;
}

h2.brown.big-title:before,
h2.brown.big-title:after {
	background: url('images/brown-title-lines.png') no-repeat center;
}

h2.white.big-title:before,
h2.white.big-title:after {
	background: url('images/white-title-lines.png') no-repeat center;
}

#lp_about {
	padding-top: 55px;
	padding-bottom: 38px;
	-webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   		text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

#lp_about h2 {
	margin-bottom: 51px;
}

#lp_about h2.big-title:before {
	left: 67px;
}

#lp_about h2.big-title:after {
	right: 67px;
}

.regards-list {
	height: 195px;
	margin-bottom: 36px;
}

.regards-list li {
	float: left;
	width: 172px;
	height: 195px;
	margin-right: 20px;
	font: 300 15px/17px 'Roboto Condensed';
	color: #75644d;
	text-align: center;
	background: url('images/regards-frame.png') no-repeat center;
}

.regards-list li b {
	display: block;
	margin-bottom: 5px;
	text-transform: uppercase;
	font: bold 28px/32px 'Roboto Condensed';
}

.regards-list li b span {
	font-size: 36px;
}

.regards-list li:last-child {
	margin-right: 0;
}

.regards-list li._1 {
	padding-top: 30px;
}

.regards-list li._2 {
	padding-top: 42px;
}

.regards-list li._3 {
	background: url('images/regards-photo.png') no-repeat center;	
}

.regards-list li._4 {
	padding-top: 36px;
}

.regards-list li._5 {
	padding-top: 42px;
}

#lp_about .text {
	padding: 0 140px;
	text-align: center;
}

#lp_price {
	padding-top: 59px;
	padding-bottom: 67px;
}

#lp_price h2 {
	margin-bottom: 51px;
}

#lp_price h2.big-title:before {
	left: 170px;
}

#lp_price h2.big-title:after {
	right: 170px;
}

#lp_price .left,
#lp_price .right {
	width: 460px;
	margin-bottom: 50px;
	text-align: center;
}

#lp_price .left {
	float: left;
}

#lp_price .right {
	float: right;
}

#lp_price a.img {
	position: relative;
	display: block;
	width: 340px;
	height: 400px;
	margin: 0 auto 30px;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	   		border-radius: 6px;
	-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .4);
	   -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .4);
	   		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .4);
	overflow: hidden;
}

#lp_price img {
	display: block;
	width: 340px;
	height: 400px;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	   		border-radius: 6px;
}

#lp_price .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 340px;
	height: 400px;
	background: #000;
	opacity: 0;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	   		border-radius: 6px;
	-webkit-transition: all 0.2s linear 0s;
	   -moz-transition: all 0.2s linear 0s;
			transition: all 0.2s linear 0s;
}

#lp_price a.img:hover .overlay {
	opacity: .5;
}

#lp_price .zoom {
	position: absolute;
	top: 191px;
	left: 161px;
	width: 38px;
	height: 54px;
	background: url('images/zoom.png') no-repeat center;
	opacity: 0;
	-webkit-transition: all 0.2s linear 0s;
	   -moz-transition: all 0.2s linear 0s;
			transition: all 0.2s linear 0s;
}

#lp_price a.img:hover .zoom {
	opacity: 1;
}

#lp_price h3 {
	margin-bottom: 16px;
	font: bold 28px/32px 'Roboto Condensed';
	color: #7c4127;
	text-transform: uppercase;
	text-align: center;
	-webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   		text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

#lp_price .features-list {
	width: 340px;
	margin: 0 auto 30px;
}

#lp_price .features-list li {
	padding: 4px 0 6px;
	-webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   		text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	border-bottom: 1px solid #c1ad91;
}

#lp_price .features-list li.last {
	height: 41px;
	padding-top: 10px;
	font: 400 18px 'Roboto Condensed';
	color: #bf3f3f;
	text-transform: uppercase;
	border: none;
	background: rgba(193, 173, 145, .4);
}

#lp_price .button {
	margin: 0 auto;
}

#lp_price .also {
	margin: 50px 0 40px;
	padding: 42px 0 0;
	clear: both;
	background: url('images/dotted.png') repeat-x top left;
}

#lp_price .also h2 {
	font: bold 44px/50px 'Roboto Condensed';
	color: #7c4127;
	text-align: center;
	text-transform: uppercase;
	-webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   		text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

#lp_price .also li {
	float: left;
	width: 25%;
	text-align: center;
}

#lp_price .also li img {
	display: block;
	width: 180px;
	height: 180px;
	margin: 0 auto 21px;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	   		border-radius: 6px;
	-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .4);
	   -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .4);
	   		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .4);
	-webkit-transition: all 0.2s linear 0s;
	   -moz-transition: all 0.2s linear 0s;
			transition: all 0.2s linear 0s;
}

#lp_price .also li a {
	font: 300 21px/25px 'Roboto';
	color: #222;
	text-decoration: none;
	-webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   		text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

#lp_price .also li a:hover {
	text-decoration: underline;
}

#lp_price .also li a:hover img {
	opacity: .75;
}

#lp_advantages {
	padding-top: 55px;
	padding-bottom: 35px;
}

#lp_advantages h2 {
	margin-bottom: 42px;
}

#lp_advantages h2.big-title:before {
	left: 149px;
}

#lp_advantages h2.big-title:after {
	right: 149px;
}

.darkwave {
	background: url('images/bg3.jpg') repeat top left;
}

.darkwave:before {
	content: '';
	position: absolute;
	top: -4px;
	left: 0;
	width: 100%;
	height: 4px;
	background: url('images/darkwave-top.png') repeat-x top center;
}

table#adv td {
	width: 50%;
	font: 300 21px/25px 'Roboto';
}

table#adv th {
	font: 500 24px/26px 'Roboto';
	text-align: center;
	vertical-align: middle;
}

table#adv th.minus {
	color: #f5f5f5;
	padding-bottom: 36px;
}

table#adv th.plus {
	color: #ffd156;
	padding-bottom: 36px;
}

table#adv td.minus {
	padding: 2px 10px 34px 57px;
	color: #f5f5f5;
	background: url('images/minus.png') no-repeat -1px 0;
}

table#adv td.plus {
	padding: 2px 0 34px 67px;
	color: #ffd156;
	background: url('images/plus.png') no-repeat 9px 0;
}

#lp_guaranty {
	padding-top: 55px;
	padding-bottom: 37px;
}

#lp_guaranty h2 {
	margin-bottom: 51px;
}

#lp_guaranty h2.big-title:before {
	left: 166px;
}

#lp_guaranty h2.big-title:after {
	right: 166px;
}

#guaranty-list li {
	float: left;
	width: 220px;
	margin-right: 20px;
	padding: 218px 20px 0;
	font: 300 15px/25px 'Roboto Condensed';
	color: #75644d;
	text-align: center;
	-webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   		text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

#guaranty-list li h3 {
	font: bold 28px/26px 'Roboto Condensed';
	color: #bf3f3f;
	text-transform: uppercase;
	margin-bottom: 14px;
}

#guaranty-list li:last-child {
	margin-right: 0;
}

#guaranty-list li._1 {
	background: url('images/guaranty1.png') no-repeat top center;
}

#guaranty-list li._2 {
	background: url('images/guaranty2.png') no-repeat top center;
}

#guaranty-list li._3 {
	background: url('images/guaranty3.png') no-repeat top center;
}

#guaranty-list li._4 {
	background: url('images/guaranty4.png') no-repeat top center;
}

#lp_reviews {
	padding-top: 59px;
	padding-bottom: 50px;
}

#lp_reviews h2 {
	margin-bottom: 51px;
}

#lp_reviews h2.big-title:before {
	left: 183px;
}

#lp_reviews h2.big-title:after {
	right: 183px;
}

#lp_reviews .slidewrap {
	width: 598px;
	height: 443px;
	margin: 0 auto;
	background: url('images/reviews_bg.png') no-repeat center;
}

#lp_reviews li .wrp {
	width: 340px;
	margin: 30px auto 0;
	font: 300 italic 17px/23px 'Roboto';
	text-align: center;
	color: #fff;
	-webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   		text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

#lp_reviews li .wrp b {
	font-style: normal;
	font-weight: 400;
	color: #ffd156;
}

#lp_reviews li .wrp p {
	margin-bottom: 23px;
}

#lp_reviews li .wrp img {
	width: 100px;
	height: 100px;
	margin-bottom: 16px;
	border: 3px solid #c1ad91;
	-webkit-border-radius: 50px;
	   -moz-border-radius: 50px;
	   		border-radius: 50px;
}

#lp_reviews .nav {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 65px;
	margin-top: 8px;
}

#lp_reviews .prev,
#lp_reviews .next {
	width: 108px;
	height: 65px;
}

#lp_reviews .prev {
	float: left;
	padding-left: 50px;
}

#lp_reviews .next {
	float: right;
	padding-right: 50px;
}

#lp_reviews .next a,
#lp_reviews .prev a {
	display: block;
	width: 58px;
	height: 65px;
}

#lp_reviews .next a {
	float: left;
	background: url('images/next.png') no-repeat center;
}

#lp_reviews .prev a {
	float: right;
	background: url('images/prev.png') no-repeat center;
}

#lp_reviews a:hover {
	opacity: .75;
}

#lp_reviews a.disabled {
	opacity: .25;
}

#lp_portfolio {
	padding-top: 55px;
	padding-bottom: 50px;
}
#lp_portfolio .read-more{
	background: none;
}


#lp_portfolio h2 {
	margin-bottom: 51px;
}

#lp_portfolio h2.big-title:before {
	left: 225px;
}

#lp_portfolio h2.big-title:after {
	right: 225px;
}

#lp_portfolio .gallery-wrap {
	width: 780px;
	margin-left: 16%;
}

#lp_portfolio a {
	position: relative;
	display: block;
	margin-bottom: 20px;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	   		border-radius: 6px;
	-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .4);
	   -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .4);
	   		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .4);
	overflow: hidden;
}

#lp_portfolio img {
	display: block;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	   		border-radius: 6px;
}

#lp_portfolio .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 140px;
	height: 140px;
	background: #000;
	opacity: 0;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	   		border-radius: 6px;
	-webkit-transition: all 0.2s linear 0s;
	   -moz-transition: all 0.2s linear 0s;
			transition: all 0.2s linear 0s;
}

#lp_portfolio a:hover .overlay {
	opacity: .5;
}

#lp_portfolio .zoom {
	position: absolute;
	top: 51px;
	left: 51px;
	width: 38px;
	height: 54px;
	background: url('images/zoom.png') no-repeat center;
	opacity: 0;
	-webkit-transition: all 0.2s linear 0s;
	   -moz-transition: all 0.2s linear 0s;
			transition: all 0.2s linear 0s;
}

#lp_portfolio a:hover .zoom {
	opacity: 1;
}

#lp_portfolio .big .overlay {
	height: 300px;
}

#lp_portfolio .big .zoom {
	top: 131px;
}

#lp_portfolio li {
	float: left;
	width: 140px;
	margin-right: 20px;
}

#lp_portfolio li:last-child {
	margin-right: 0;
}

#lp_action {
	padding-top: 59px;
	padding-bottom: 70px;
	background: url('images/bg3.jpg') repeat top left;
}

#lp_action h2 {
	margin-bottom: 31px;
	color: #ffd156;
}

#lp_action h2.big-title:before {
	left: 184px;
}

#lp_action h2.big-title:after {
	right: 184px;
}

#lp_action h3 {
	margin-bottom: 53px;
	font: 300 32px/36px 'Roboto';
	color: #fff;
	text-align: center;
	-webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   		text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

#lp_action h3 .color {
	font-weight: 500;
	color: #ffd156;
}

#lp_action .form-wrp {
	width: 700px;
	margin: 0 0 35px 120px ;
	overflow: hidden;
}

#lp_action .form-wrp .field,
#lp_action .form-wrp .submit {
	float: left;
	width: 220px;
}

#lp_action .form-wrp .field {
	margin-right: 20px;
}

#lp_action input[type='text'],
#lp_action input[type='email'],
#lp_action input[type='tel'] {
	float: left;
	width: 220px;
	height: 44px;
	padding: 0 59px 0 15px;
	font: 300 17px/44px 'Roboto Condensed';
	color: #7c4127;
	border: 0;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	   		border-radius: 4px;
	-webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   		text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-webkit-box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, .3);
	   -moz-box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, .3);
	   		box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, .3);
}

#lp_action input[type='text'] {
	background: #fff url('images/user.png') no-repeat right;
}

#lp_action input[type='tel'] {
	background: #fff url('images/phone.png') no-repeat right;
}

#lp_action input[type='submit'] {
	display: block;
	width: 220px;
	height: 44px;
	font: 700 15px/45px 'Roboto Condensed';
	color: #7c4127;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	background: url('images/button.png') no-repeat center;
	-webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, .2);
	   -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, .2);
	   		box-shadow: 0 0 6px 0 rgba(0, 0, 0, .2);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	   		border-radius: 4px;
	-webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
	   -moz-text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
	   		text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
	-webkit-transition: all 0.2s linear 0s;
	   -moz-transition: all 0.2s linear 0s;
			transition: all 0.2s linear 0s;
	border: 0;
	cursor: pointer;
}

#lp_action input[type='submit']:hover {
	color: #bf3f3f;
}

#lp_action .note {
	font: 300 13px/16px 'Roboto';
	color: rgba(255, 255, 255, .4);
	text-align: center;
}

#lp_articles {
	padding-top: 55px;
}

#lp_articles h2 {
	margin-bottom: 50px;
}

#lp_articles h2.big-title:before {
	left: 191px;
}

#lp_articles h2.big-title:after {
	right: 191px;
}

.articles-list {
	margin-bottom: 16px;
}

.articles-list:after,
.articles-list li:after {
	content: ".";
	clear: both;
	display: block;
	height: 0;
	font-size: 0;
	visibility: hidden;
}

.articles-list li {
	float: left;
	width: 460px;
	margin-right: 20px;
	font: 300 15px/23px 'Roboto';
	-webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   		text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.articles-list li:last-child {
	margin-right: 0;
}

.articles-list li .left {
	float: left;
	width: 140px;
}

.articles-list li .right {
	float: right;
	width: 280px;
}

.articles-list li img {
	width: 140px;
	height: auto;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	   		border-radius: 6px;
	-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .4);
	   -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .4);
	   		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .4);
	-webkit-transition: all 0.2s linear 0s;
	   -moz-transition: all 0.2s linear 0s;
			transition: all 0.2s linear 0s;
}

.articles-list li h3 {
	font: 300 21px/25px 'Roboto';
	margin-bottom: 17px;
}

.articles-list a:hover img {
	opacity: .75;
}

.read-more {
	margin-bottom: 70px;
	padding-top: 42px;
	background: url('images/dotted.png') repeat-x top left;
}

 .read-more .button {
	margin: 0 auto;
}

/********** LP FOOTER **********/

#lp_contacts {
	padding-top: 59px;
	padding-bottom: 95px;
	-webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	   		text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	background: url('images/map.png') no-repeat center 60px;
}

#lp_contacts .left {
	float: left;
	width: 460px;
}

#lp_contacts h2 {
	margin-bottom: 28px;
	font: bold 44px/50px 'Roboto Condensed';
	color: #7c4127;
	text-transform: uppercase;
}

#lp_contacts .phones {
	min-height: 67px;
	margin-bottom: 15px;
	padding: 9px 0 0 78px;
	font: 300 27px/46px 'Roboto';
	background: url('images/phone2.png') no-repeat left;
}

#lp_contacts .mail {
	min-height: 67px;
	margin-bottom: 15px;
	padding: 9px 0 0 78px;
	font: 300 27px/46px 'Roboto';
	background: url('images/mail2.png') no-repeat left;
}

#lp_contacts .skype {
	min-height: 67px;
	margin-bottom: 53px;
	padding: 9px 0 0 78px;
	font: 300 27px/46px 'Roboto';
	background: url('images/skype.png') no-repeat left;
}

#lp_contacts .copy {
	line-height: 22px;
}